<div class="jumbotron">

  <center>


<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQDdB6i-7D2kIOpKDh0_q6tjuUsyPBnmElaDC-QoK-LY7wntcCEuA">
		<br
  <h1>Kabaab Grill</h1>
  <p>Welcome to the house of best midle eastern food.</p>
  <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>